# Python
venv/
.env
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/

# Node / Frontend
node_modules/
dist/
admin-dashboard/.env
frontend/.env

# OS / Editor
.DS_Store
.vscode/
.idea/

# Logs
*.log

.gemini/
gha-creds-*.json
